name: Build

on:
  pull_request: {}
  push:
    branches:
      - main

jobs:
  build-contianer:
    permissions:
      contents: read
      packages: write
    name: Build container
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Gather versions
        id: repo
        run: |-
          alpine_version_full="$(grep -e "ALPINE_VERSION=" Dockerfile | cut -d '=' -f 2)"
          alpine_version="${alpine_version_full%@*}"
          prosody_version="$(grep -e "PROSODY_VERSION=" Dockerfile | cut -d '=' -f 2)"
          echo "alpine_version_full=$alpine_version_full" >> "$GITHUB_OUTPUT"
          echo "alpine_version=$alpine_version" >> "$GITHUB_OUTPUT"
          echo "prosody_version=$prosody_version" >> "$GITHUB_OUTPUT"
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
      - name: Log into ghcr.io
        if: github.event_name == 'push'
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push base
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          push: ${{ github.event_name == 'push' }}
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max
          target: core
          tags: |-
            ghcr.io/${{ github.repository }}:${{ steps.repo.outputs.prosody_version }}
            ghcr.io/${{ github.repository }}:${{ steps.repo.outputs.prosody_version }}-alpine${{ steps.repo.outputs.alpine_version }}
      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          push: ${{ github.event_name == 'push' }}
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max
          target: community
          tags: |-
            ghcr.io/${{ github.repository }}-community:${{ steps.repo.outputs.prosody_version }}
            ghcr.io/${{ github.repository }}-community:${{ steps.repo.outputs.prosody_version }}-alpine${{ steps.repo.outputs.alpine_version }}
